/* Global */

h1, h3 {
	font-family: 'Rye', cursive;
	font-weight: 400;
	text-align: center;
}

h1 {
	font-size: 3.5em;
}

h3 {
	font-size: 2em;
}

p {
	font-family: 'Open Sans', sans-serif;
	margin-top: 4em;
	margin-left: 2em;
	line-height: 1.5em;
	font-size: 1em;
}

a {
	font-family: 'Rye', cursive;
	font-weight: 400;
	text-decoration: none;
	color: #660033;
}




/* Intro styles */

#intro {
	background-image: url('../img/victoriandrinker.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-color: #FFF;
	min-height: 48.5em;
}

.intro {
	float: right;
	margin: 2em;
	width: 25em;
	padding: 2em;
	background-color: #fff;
}

.intro > a {
	margin: 0.5em 0;
	font-size: 2em;
	text-align: center;
	display: block;
}

.intro-flourish {
	background-image: url('../img/Flourish-6.jpg');
	background-repeat: no-repeat;
	width: 100%;
	margin: 0 auto;
}




/* Questions and answers */

#quiz {
	display: none;
}

#feedback {
	color: #660033;
}

.questions {
	background-image: url('../img/wineglasses.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
	float: left;
	width: 40%;
	height: 40em;
	border: 1px solid green;
}

.question > h3 {
	text-align: center;
	font-size: 1em;
	padding: 2em 2em 2em 2em;
	line-height: 1.5em;
}

.glasses {
	width: 80%;
	margin: 0 auto;
	display: block;
}

.answer-block {
	width: 59%;	
	float: right;
	padding-top: 2em;
		border: 1px solid blue;

}

.answer {
	width: 45%;
	float: left;
	min-height: 15em;
	max-height: 20em;
	background-image: url('../img/florish.jpg');
	background-size: 50% auto;
	background-repeat: no-repeat;
	position: relative;
	margin-right: 5%;
	margin-bottom: 10%;
}

.answer:hover {
	-webkit-box-shadow: 10px 10px 47px 0px rgba(212,210,212,1);
	-moz-box-shadow: 10px 10px 47px 0px rgba(212,210,212,1);
	box-shadow: 10px 10px 47px 0px rgba(212,210,212,1);
}

.atext {
	margin: 0 auto;
	top: 10%;
	left: 5%;
	padding: 5%;
	height: 100%;
}

#nextq {
	clear: both;
	height: 10em;	
}

.next-box {
	float: right;
	opacity: 0;
}

.next-box > .arrow {
	width: 12.5em;
	margin: 0 3em 0 0;
}

.next-box > a {
	text-align: center;
	margin-bottom: 0.5em;
	font-size: 2em;
	display: block;
}

input {
	visibility: hidden;
}





/* Score page */


#score {
	background-image: url('../img/cocktailglass1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: #FFF;
	clear: both;
	min-height: 30em;
	display: none;
}

.score-feedback {
	float: left;
	width: 75%;
}

.score-text > h1 {
	text-align: center;
	padding-bottom: 1em;
	margin-top: 10%;

}

.again > h3 {
	color: #660033;
	padding-bottom: 0.5em;

}

.again > .arrow {
	width: 12.5em;
	margin: 0 auto;
	display: block;
	color: #660033;
}

.again:hover {
	cursor: pointer;
}





